{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/decks/{{ deck.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Deck</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="{{ deck.name }}"
                value="{{ deck.name }}"
                class="form-control"
            >
            <label class="form-label">Cards:</label>
        </fieldset>
        <input type="submit" value="Update Deck" class="btn btn-success">
    </form>
    <div>
        <ul>
        {% for card in cards %}
            <li>
            {{card.cardName}}
             <form action="/decks?_method=DELETE" method="POST">
                <input type="hidden" name="cardId" value="{{ card.cardId }}">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}